In [2]:
import pandas as pd
from scipy.spatial.distance import cosine

In [8]:
likes = pd.read_csv('user_movie_likes.csv', names=['UserID','MovieID'], header=None)

In [9]:
likes.head()

   UserID  MovieID
0     412      512
1     458      770
2     185       37
3     137      701
4     190      870

In [10]:
likes_wide = pd.get_dummies(likes['MovieID'])

In [17]:
likes_wide.iloc[185]#.head(100)

2      0
5      0
6      0
9      0
10     0
12     0
13     0
15     0
16     0
17     0
18     0
20     0
21     0
22     0
23     0
25     0
27     0
29     0
30     0
31     0
32     0
33     0
35     0
36     0
37     0
38     0
39     0
41     0
44     0
46     0
      ..
959    0
960    0
962    0
963    0
967    0
968    0
970    0
971    0
972    0
973    0
974    0
975    0
976    0
977    0
979    0
980    0
981    0
982    0
984    0
985    0
987    0
988    0
989    0
990    0
992    0
993    0
994    0
995    0
996    0
997    0
Name: 185, Length: 686, dtype: uint8